BODY {margin: 0;}
BODY, P, DIV, TD, TH, TR, FORM, OL, UL, LI, INPUT, TEXTAREA, SELECT, A {font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;}

A {text-decoration: underline; color:black}
A:hover {text-decoration: none;}

td.com10b {background-color:#aaaaff; width: 10%; vertical-align:top}
td.com20b {background-color:#aaaaff; width: 20%; vertical-align:top}
td.com10g {background-color:#cccccc; width: 10%; vertical-align:top}
td.com20g {background-color:#cccccc; width: 20%; vertical-align:top}
td.com10h {background-color:#aaaaaa; width: 10%; vertical-align:top}
td.com20h {background-color:#aaaaaa; width: 20%; vertical-align:top}
tr.compare {background-color:#aaaaaa; vertical-align:top;}
table.compare {cell-spacing:3; cell-padding:3; width:100%}

/* KDE's konqueror can't deal with clipping, so I had to create a
   new clipped version of the logo :(
.logo {position:absolute; left:20; top:-15; width:150; height:110; clip:rect(15,150,150,0);}
*/
.logo {position:absolute; left:20; top:0; width:150; height:135;}

.code {font-family: Courier, "Courier New", monospaced, serif;}